Enabled = 	true
DebugMode =	false

ServerCommandPassword = SERVER_PASSWORD_HERE


#health system configuration
	InfectionDamage = 0.01
	CanSelfBloodbag = true


#starting loadout definitions
	Vest =
	Backpack =
	Items =
	Magazines = 16Rnd_9x21_Mag,DSR_item_Bandage
	PrimaryWpn =
	PrimaryWpnAttachments =
	HandgunWpn = hgun_Rook40_F
	HandgunWpnAttachments =
	RemoveItems = ItemMap,ItemWatch

#Vehicle spawn configuration
	NumVehicles = 400 # Number of vehicles to spawn on the server
	MaxBikes = 150 # Number of bicycles to spawn on the server


#Loot configuration - You should not *HAVE* to edit these values. However, if you wish to to, everything will be described on the wiki @ (TODO WIKI HERE)

	# Turn loot spawning on/off
	SpawnLoot = true

	# Configure loot respawning (respawns fresh loot after the given time)
	RespawnLoot = false
	RespawnTime = 60 # in minutes

	# Configure Weapon mag spawning
	ChanceToSpawnWithMag = 15 # % (100 being EVERY TIME, 0 being NEVER)

	# Every building that spawns loot (determined byt the lootChance) will have at LEAST this # of piles
	MinPiles = 1

	# LOOT LIMITS PER PILE (limit can not go over 3)
	MaxWeapons = 1
	MaxHandguns = 1
	MaxUniforms = 1
	MaxVests = 1
	MaxBackpacks = 1
	MaxBooks = 1
	MaxHelmets = 1
	MaxCarParts = 1

	# Military Loot ( military buildings )
	Military_lootChance = 70 # This is the % chance of a military building spawning loot (0-100 100 being every military building will spawn loot every time)
	Military_spawnChance = 60 # pile loot chance
	Military_typeChance = [2,8,10,30,50] # item rarity
	Military_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2] # item type (weapon,handgun,magazine,...)

	# Civilian Loot ( houses )
	Civilian_lootChance = 80 
	Civilian_spawnChance = 40
	Civilian_typeChance = [2,8,10,30,50]
	Civilian_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2]

	# Industrial Loot ( factories )
	Industrial_lootChance = 70 
	Industrial_spawnChance = 60
	Industrial_typeChance = [2,8,10,30,50]
	Industrial_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2]

	# Commercial Loot ( street shops )
	Commercial_lootChance = 70  
	Commercial_spawnChance = 50
	Commercial_typeChance = [2,8,10,30,50]
	Commercial_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2]

	# Medical Loot ( hospital type buldings )
	Medical_lootChance = 70 
	Medical_spawnChance = 40
	Medical_typeChance = [2,8,10,30,50]
	Medical_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2]

	# Mechanical Loot ( car shop / repair shop type buildings )
	Mechanical_lootChance = 80  
	Mechanical_spawnChance = 60
	Mechanical_typeChance = [2,8,10,30,50]
	Mechanical_gearChance = [3,6,8,9,9,9,11,2,4,3,4,7,7,5,1,5,5,2]
